body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f5f3e5;
    color: #333333;
}

h1, h2 {
    text-align: center;
    color: #333333;
}

.input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.input-section label {
    font-weight: bold;
    margin-right: 10px;
}

.input-section button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.expenses-list {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #fafafa;
    color: #777777;
}

td {
    color:#77;
}

tfoot td {
    font-weight: bold;
}

.delete-btn, #clear-btn {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
